/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.debug{
  background-color: rgba(138, 43, 226, 0.25);
  border: 1px solid black;
}

.container{
  width: 60%;
  margin: 0 auto;

  /* debug */
  border: 1px dashed blue;
}

.container-big{
  width: 70%;
  margin: 0 auto;
  /* debug */
  border: 1px dashed rgb(255, 0, 0);
}

.button{
  background-color: #0061ff;
  padding: 6px 15px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
}

.button:hover{
  background-color: #4d91ff;
}

img{
  max-width: 100%;
}

.rd-button{
  display: inline-block;
  border: 2px solid #dfdfdf;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.rd-button.active{
  border: 5px solid #0061ff;
  padding: 5px;
}

/* HEADER */
header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: white;
  height: 80px;
  border-bottom: 2px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.top-nav{
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0 15px;
}

.top-nav ul{
  display: flex;
  align-items: center;
  list-style: none;
}

.top-nav.nav-right .button a{
  text-decoration: none;
  color: white;
}

.top-nav ul li a{
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 0 25px;
  height: 82px;
  line-height: 80px;
}

.top-nav ul li a:hover{
  border-bottom: 2px solid darkgray;
}

.top-nav.nav-left{
  justify-content: flex-start;
}

.top-nav.nav-right{
  justify-content: flex-end;
}

/* MAIN */
main{
  padding: 80px 0;
}

/* HERO */
.hero{
  background-color: #b4d0e7;
  padding-top: 40px;
  max-height: 730px;
}

.hero h1{
  font-size: 70px;
  font-weight: 900;
  padding-right: 100px;
}

.hero .hero-content{
  display: flex;
  justify-content: space-between;
  position: relative;
  max-height: 100%;
}

.hero-content p{
  margin-bottom: 50px;
  font-size: 16px;
}

.hero-content .text .go-to{
  margin-bottom: 20px;
}

.hero-content a.button{
  display: inline-block;
  margin-bottom: 25px;
}

.hero img{
  width: 100%;
  min-width: 800px;
}

.hero .container-big .text{
  width: 40%;
  min-width: 250px;
  display: inline-block;
}

.hero .container-big .image{
  min-width: 60%;
  display: inline-block;
  right: 0;
  
}

/* SECTION WHIT FOUR BOXES AND RADIO */
.radio{
  margin-bottom: 30px;
}

.tarif{
  margin-bottom: 30px;
}

.radio span{
  margin-right: 15px;
  vertical-align: middle;
}


section.tarif{
  margin-top: 160px;
}

section.tarif .row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
section.tarif .row .box{
  border: 1px solid #d0d0d3;
  width: calc(90% / 3);
}

section.tarif .box-bottom{
  border: 1px solid #d0d0d3;
}

/* SECTION CTA PATNER */
.cta{
  display: flex;
  margin-bottom: 40px;
}

.cta .image-cta{
  width: 60%;
}

.cta .text-cta{
  width: 40%;
  padding: 60px 50px;
}

/* SECTION CON DUE ROW CON IMG E TEXT E H2 */
section.spot-card{
  margin-bottom: 40px;
}

section.container .row{
  display: flex;
}

section.container .row .card{
  width: calc(100% / 3);
}


/* H2 E LINK */

/* SEZIONE CON BOX QUADRATI */
.client-review .square{
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  display: flex;
  flex-wrap: wrap;
}

.client-review .square .company{
  width: calc(100% / 2);
  height: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-review .square .company .logo-c svg{
  width: 120px;
  fill: white;
}
/* H2 E BOTTONE */

/* FAQ CON MENU' A TENDINA */

/* FOOTER */
footer{
  background-color: black;
  color: white;
  padding: 100px 0;
  margin-top: 50px;
}

/* NAVIGAZIONE IN ALTO CON COLONNE */
.f-column{
  display: inline-block;
  width: calc(97% / 5);
}

.f-column h4{
  margin-bottom: 10px;
}

.f-column ul{
  list-style: none;
}

.f-column ul li{
  margin-bottom: 10px;
}

.f-column ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px
}

.f-column ul li a:hover{
  text-decoration: underline;
}

/* NAVIGAZIONE IN BASSO CON SELEZIONE LINGUA */
.f-bottom .dropmenu{
  background-color: #353535;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.f-bottom .dropmenu ul{
  list-style: none;
}

.f-bottom .dropmenu ul a{
  color: gray;
  text-decoration: none;
  font-size: 12px;
}

.f-bottom .dropmenu ul a:hover{
  text-decoration: underline;
}

.f-bottom .dropbtn{
  position: relative;
  display: inline-block;
  font-size: 12px;
  padding: 40px 10px 10px 0;
  cursor: pointer;
  border-top: 1px solid darkgray;
  color: gray;
}

.f-bottom .dropbtn:hover{
  background-color: #353535;
}

.f-bottom .dropbtn:hover .dropmenu{
  display: block;
}