/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.debug{
  background-color: rgba(138, 43, 226, 0.25);
  border: 1px solid black;
}

.container{
  width: 60%;
  margin: 0 auto;

  /* debug */
  border: 1px dashed blue;
}

.button{
  background-color: #0061ff;
  padding: 6px 15px;
  color: white;
}

/* HEADER */
header{
  background-color: white;
  height: 80px;
  border-bottom: 2px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav{
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0 15px;
}

.top-nav ul{
  display: flex;
  list-style: none;
}

.top-nav.nav-right .button a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.top-nav ul li a{
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 0 25px;
  /* height: 100%; */
}

/* .top-nav ul li a:hover{
  border-bottom: 3px solid darkgray;
} */

.top-nav.nav-left{
  justify-content: flex-start;
}

.top-nav.nav-right{
  justify-content: flex-end;
}





/* MAIN */

/* FOOTER */